<div>
    <div>
        <%= @event.title %>
    </div>
    <div>
        <%= @event.description %>
    </div>

    <div>
        <%= @event.creator.name %>
    </div>

    <%# <% @event.attendees.each |e| %>
        <%# <%= attendee.name %> %>
    <%# <% end %>  %> %>
</div>